<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
 
  <%- include('./partials/nav.ejs') %>

<br/>

  <p>
    嗨，你可以称呼我小田。
<ul>
  <li>一个水豚爱好者（参考头像）</li>
  <li>脑海里的音乐家</li>
  <li>N个赛博分身</li>
  <li>喜欢给人写信和Email</li>
  <li>以食为天，以被为家</li>
  ·· · 📒
</ul>







这个站点其实是作为学习代码的笔记本的作用存在，我还有另外好几个博客，你可以在我的 主页 发现更多。
  </p>
  <%- include('./partials/footer.ejs') %>

</body>
</html>