<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <div class="container">
    <div class="main">
      <%- include('./partials/header.ejs') %>

      <%- include('./partials/nav.ejs') %>
      <br />

      <p>💻
        这是小田在 Node.js + Express 弄的blog
      </p>
      <br />

      <p>
        🎵
        正在收听Spotify Weekly
      </p>
      <br />

      <p>
        🎬
        想看电影
      </p>


      <%- include('./partials/footer.ejs') %>

    </div>

</body>

</html>