<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <div class="container">
    <div class="main">
      <%- include('./partials/header.ejs') %>

      <%- include('./partials/nav.ejs') %>
      <div class="new_container">

        <h2>新建博文</h2>
        <div class="block">
          <!-- <div class="title">标题：</div> -->
          <form action="/blogs" method="POST">
            <div class="content">
              <div><input type="text" placeholder="输入标题" id="title" name="title" required></div>
              <div><input type="text" placeholder="输入摘选" id="snippets" name="snippets" required></div>
              <div><textarea rows="16" placeholder="输入内容.." id="body" name="body" required></textarea>
              </div>
              <div class="btn">
                <button>提 交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </div>

</body>

</html>