
  body {
    max-width: 780px;
    min-width: 400px;
    width: 100vh;
    margin: 0 auto;
    padding: 2rem 4rem 0 4rem ;
    font-family: sans-serif;
  }
  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    padding: 0;
    color: #333;
    text-decoration: none;
  }

  input,
  textarea {
    outline: none;
  }

  .title {
    font-size: medium;
    margin: 0 6px;
  }

  .navbar {
    margin: 2rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .navbar a {
    padding: 0 .8rem;
  }

  .navbar a:hover {
    color: green;
  }

  .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 90vh;
  }

  .container .post {
    margin: 1rem 0;
    padding: 1rem;
    max-width: 650px;
    border: 1px solid rgba(206, 206, 206, 0.671);
    border-radius: 6px;
  }
  .container .post a  h2{
    border-left: .5rem solid green;
    padding: 0  1rem;
  }
  .container .post a p{
    padding: 1rem  1rem;
    
  }
  .container .post a h2:hover {
    color: green;
  }

  .new_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .new_container h2 {
    align-self: flex-start;
    margin-bottom: 4rem;
  }

  .new_container .block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .new_container .block .title {
    width: 55px;
  }

  .new_container .block .content input {
    margin-top: 1rem;
    width: 400px;
    height: 20px;
    padding: 6px 8px;
    border: 1px solid #333;
    border-radius: 6px;
  }
  .new_container .block .btn{
    align-self: flex-start;
  }
  .new_container .block .btn button{
    margin-top: 10px;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: #fff;
  }

  .new_container .block .btn button:hover {
    background-color: rgb(9, 166, 9);
  }

  .new_container .block .content textarea {
    margin-top: 1rem;
    padding: 6px 8px;
    width: 400px;
    border-radius: 6px;
  }
  .details{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 550px;
    min-width: 300px;
  }
  .content{
    margin-top: 1rem;
  }
  .delete{
    align-self: flex-end;
    margin-top: 2rem;
  }
  .delete a:hover{
    color: crimson;
    cursor: pointer;
  }
  .main{
    display: flex;
    flex-flow: column nowrap;
  }

  footer {
    margin: 1rem;
    align-self: center;
    font-size: small;
    color: #727272;
    letter-spacing: 2px;
  }